In [2]:
import datetime
from datetime import datetime
print("Datetime object for Jan 11 2012:")
print(datetime(2012, 1, 11))
print("\nSpecific date and time of 9:20 pm") 
print(datetime(2011, 1, 11, 21, 20))
print("\nLocal date and time:")
print(datetime.now())
print("\nA date without time: ")
print(datetime.date(datetime(2012, 5, 22)))
print("\nCurrent date:")
print(datetime.now().date())
print("\nTime from a datetime:")
print(datetime.time(datetime(2012, 12, 15, 18, 12)))
print("\nCurrent local time:") 
print(datetime.now().time())

Datetime object for Jan 11 2012:
2012-01-11 00:00:00

Specific date and time of 9:20 pm
2011-01-11 21:20:00

Local date and time:
2024-03-24 15:38:52.994363

A date without time:
2012-05-22

Current date:
2024-03-24

Time from a datetime:
18:12:00

Current local time:
15:38:52.994363

In [3]:
import pandas as pd
print(pd.Timestamp('2000-08-22'))
print(pd.Timestamp('2000-08-22 7:00'))
print(pd.Timestamp('7:00'))
print(pd.Timestamp('now'))

2000-08-22 00:00:00
2000-08-22 07:00:00
2024-03-24 07:00:00
2024-03-24 15:42:40.429531

In [5]:
from datetime import datetime
x=datetime(year=2000, month=8,day=22)
print(x)
from dateutil import parser
y=parser.parse('22nd of August, 2000')
print(y)

2000-08-22 00:00:00
2000-08-22 00:00:00

In [8]:
import pandas as pd
import datetime
from datetime import datetime,date
today=datetime(2000,8,22)
print(today)
tomorrow = today + pd.Timedelta(days=1)
print(tomorrow)
yesterday = today - pd.Timedelta(days=1)
print(yesterday)
date1=datetime(2024,8,22)
date2=datetime(2000,8,22)
print(date1-date2)

2000-08-22 00:00:00
2000-08-23 00:00:00
2000-08-21 00:00:00
8766 days, 0:00:00

In [13]:
import pandas as pd
import numpy as np
import datetime
from datetime import datetime, date
dates = [datetime(2011, 9, 1), datetime(2011, 9, 2)]
print("Time-series with two index labels:")
time_series = pd.Series(np.random.randn(2), dates)
print(time_series)
print("\nType of the index:")
print(type(time_series.index))

Time-series with two index labels:
2011-09-01    0.962817
2011-09-02    1.664424
dtype: float64

Type of the index:
<class 'pandas.core.indexes.datetimes.DatetimeIndex'>

In [14]:
dates = ['2014-08-01','2014-08-02','2014-08-03','2014-08-04']
time_series = pd.Series(np.random.randn(4), dates)
print(time_series)

2014-08-01   -0.383971
2014-08-02   -0.674554
2014-08-03   -0.207175
2014-08-04    1.063843
dtype: float64

In [16]:
import pandas as pd

index = pd.DatetimeIndex(['2011-09-02', '2012-08-04',
                          '2015-09-03', '2010-08-04',
                          '2015-03-03', '2011-08-04',
                          '2015-04-03', '2012-08-04'])

# Sort the index
index = index.sort_values()

s_dates = pd.Series([0, 1, 2, 3, 4, 5, 6, 7], index=index)

print("Time series object with indexed data:")
print(s_dates)
print("\nDates of same year:")
print(s_dates['2015'])
print("\nDates between 2012-01-01 and 2012-12-31")
print(s_dates['2012-01-01':'2012-12-31'])

Time series object with indexed data:
2010-08-04    0
2011-08-04    1
2011-09-02    2
2012-08-04    3
2012-08-04    4
2015-03-03    5
2015-04-03    6
2015-09-03    7
dtype: int64

Dates of same year:
2015-03-03    5
2015-04-03    6
2015-09-03    7
dtype: int64

Dates between 2012-01-01 and 2012-12-31
2012-08-04    3
2012-08-04    4
dtype: int64

In [17]:
import pandas as pd
x=pd.date_range('2000-08-01',periods=45)
print(x)

DatetimeIndex(['2000-08-01', '2000-08-02', '2000-08-03', '2000-08-04',
               '2000-08-05', '2000-08-06', '2000-08-07', '2000-08-08',
               '2000-08-09', '2000-08-10', '2000-08-11', '2000-08-12',
               '2000-08-13', '2000-08-14', '2000-08-15', '2000-08-16',
               '2000-08-17', '2000-08-18', '2000-08-19', '2000-08-20',
               '2000-08-21', '2000-08-22', '2000-08-23', '2000-08-24',
               '2000-08-25', '2000-08-26', '2000-08-27', '2000-08-28',
               '2000-08-29', '2000-08-30', '2000-08-31', '2000-09-01',
               '2000-09-02', '2000-09-03', '2000-09-04', '2000-09-05',
               '2000-09-06', '2000-09-07', '2000-09-08', '2000-09-09',
               '2000-09-10', '2000-09-11', '2000-09-12', '2000-09-13',
               '2000-09-14'],
              dtype='datetime64[ns]', freq='D')

In [19]:
import pandas as pd
dates=pd.Series(pd.date_range('2000-08-22',periods=31,freq='D'))
print(dates)
# dates = pd.Series(pd.date_range('2020-12-01',periods=31, freq='D'))
print("\nMaximum date: ", dates.max())
print("Minimum date: ", dates.min())
print("Maximum index: ", dates.idxmax())
print("Minimum index: ", dates.idxmin())

0    2000-08-22
1    2000-08-23
2    2000-08-24
3    2000-08-25
4    2000-08-26
5    2000-08-27
6    2000-08-28
7    2000-08-29
8    2000-08-30
9    2000-08-31
10   2000-09-01
11   2000-09-02
12   2000-09-03
13   2000-09-04
14   2000-09-05
15   2000-09-06
16   2000-09-07
17   2000-09-08
18   2000-09-09
19   2000-09-10
20   2000-09-11
21   2000-09-12
22   2000-09-13
23   2000-09-14
24   2000-09-15
25   2000-09-16
26   2000-09-17
27   2000-09-18
28   2000-09-19
29   2000-09-20
30   2000-09-21
dtype: datetime64[ns]

Maximum date:  2000-09-21 00:00:00
Minimum date:  2000-08-22 00:00:00
Maximum index:  30
Minimum index:  0

In [20]:
import pandas as pd
dates=pd.Series(pd.date_range('2000-08-22',periods=36,freq='3M'))
print(dates)

0    2000-08-31
1    2000-11-30
2    2001-02-28
3    2001-05-31
4    2001-08-31
5    2001-11-30
6    2002-02-28
7    2002-05-31
8    2002-08-31
9    2002-11-30
10   2003-02-28
11   2003-05-31
12   2003-08-31
13   2003-11-30
14   2004-02-29
15   2004-05-31
16   2004-08-31
17   2004-11-30
18   2005-02-28
19   2005-05-31
20   2005-08-31
21   2005-11-30
22   2006-02-28
23   2006-05-31
24   2006-08-31
25   2006-11-30
26   2007-02-28
27   2007-05-31
28   2007-08-31
29   2007-11-30
30   2008-02-29
31   2008-05-31
32   2008-08-31
33   2008-11-30
34   2009-02-28
35   2009-05-31
dtype: datetime64[ns]

In [22]:
import pandas as pd
date_range = pd.timedelta_range(0, periods=49, freq='H')
print("Hourly range of periods 49:")
print(date_range)

Hourly range of periods 49:
TimedeltaIndex(['0 days 00:00:00', '0 days 01:00:00', '0 days 02:00:00',
                '0 days 03:00:00', '0 days 04:00:00', '0 days 05:00:00',
                '0 days 06:00:00', '0 days 07:00:00', '0 days 08:00:00',
                '0 days 09:00:00', '0 days 10:00:00', '0 days 11:00:00',
                '0 days 12:00:00', '0 days 13:00:00', '0 days 14:00:00',
                '0 days 15:00:00', '0 days 16:00:00', '0 days 17:00:00',
                '0 days 18:00:00', '0 days 19:00:00', '0 days 20:00:00',
                '0 days 21:00:00', '0 days 22:00:00', '0 days 23:00:00',
                '1 days 00:00:00', '1 days 01:00:00', '1 days 02:00:00',
                '1 days 03:00:00', '1 days 04:00:00', '1 days 05:00:00',
                '1 days 06:00:00', '1 days 07:00:00', '1 days 08:00:00',
                '1 days 09:00:00', '1 days 10:00:00', '1 days 11:00:00',
                '1 days 12:00:00', '1 days 13:00:00', '1 days 14:00:00',
                '1 days 15:00:00', '1 days 16:00:00', '1 days 17:00:00',
                '1 days 18:00:00', '1 days 19:00:00', '1 days 20:00:00',
                '1 days 21:00:00', '1 days 22:00:00', '1 days 23:00:00',
                '2 days 00:00:00'],
               dtype='timedelta64[ns]', freq='H')

In [23]:
import pandas as pd
data = {\
"year": [2002, 2003, 2015, 2018],
"day_of_the_year": [250, 365, 1, 140]
}
df = pd.DataFrame(data)
print("Original DataFrame:")
print(df)
df["combined"] = df["year"]*1000 + df["day_of_the_year"]
df["date"] = pd.to_datetime(df["combined"], format = "%Y%j")
print("\nNew DataFrame:")
print(df)

Original DataFrame:
   year  day_of_the_year
0  2002              250
1  2003              365
2  2015                1
3  2018              140

New DataFrame:
   year  day_of_the_year  combined       date
0  2002              250   2002250 2002-09-07
1  2003              365   2003365 2003-12-31
2  2015                1   2015001 2015-01-01
3  2018              140   2018140 2018-05-20

In [24]:
import pandas as pd
df = pd.DataFrame({'year': [2018, 2019, 2020],
                   'month': [2, 3, 4],
                   'day': [4, 5, 6],
                   'hour': [2, 3, 4]})
print("Original dataframe:")
print(df)
result = pd.to_datetime(df)
print("\nSeries of Timestamps from the said dataframe:")
print(result)
print("\nSeries of Timestamps using specified columns:")
print(pd.to_datetime(df[['year', 'month', 'day']]))

Original dataframe:
   year  month  day  hour
0  2018      2    4     2
1  2019      3    5     3
2  2020      4    6     4

Series of Timestamps from the said dataframe:
0   2018-02-04 02:00:00
1   2019-03-05 03:00:00
2   2020-04-06 04:00:00
dtype: datetime64[ns]

Series of Timestamps using specified columns:
0   2018-02-04
1   2019-03-05
2   2020-04-06
dtype: datetime64[ns]

In [26]:
import pandas as pd
def is_business_day(date):
    return bool(len(pd.bdate_range(date, date)))
print("Check busines day or not?")
print('2000-08-22: ',is_business_day('2000-08-22'))
print('2020-12-06: ',is_business_day('2020-12-06'))
print('2020-12-07: ',is_business_day('2020-12-07'))
print('2020-12-08: ',is_business_day('2020-12-08'))

Check busines day or not?
2000-08-22:  True
2020-12-06:  False
2020-12-07:  True
2020-12-08:  True

In [28]:
import pandas as pd
s = pd.date_range('2000-01-01', periods=12, freq='BM')
df = pd.DataFrame(s, columns=['Date'])
print('last working days of each month of a specific year:')
print(df)

last working days of each month of a specific year:
         Date
0  2000-01-31
1  2000-02-29
2  2000-03-31
3  2000-04-28
4  2000-05-31
5  2000-06-30
6  2000-07-31
7  2000-08-31
8  2000-09-29
9  2000-10-31
10 2000-11-30
11 2000-12-29

In [29]:
import pandas as pd
result = pd.timedelta_range(0, periods=30, freq="1H20T")
print("For a frequency of 1 hours 20 minutes, here we have combined the hour (H) and minute (T):\n")
print(result)

For a frequency of 1 hours 20 minutes, here we have combined the hour (H) and minute (T):

TimedeltaIndex(['0 days 00:00:00', '0 days 01:20:00', '0 days 02:40:00',
                '0 days 04:00:00', '0 days 05:20:00', '0 days 06:40:00',
                '0 days 08:00:00', '0 days 09:20:00', '0 days 10:40:00',
                '0 days 12:00:00', '0 days 13:20:00', '0 days 14:40:00',
                '0 days 16:00:00', '0 days 17:20:00', '0 days 18:40:00',
                '0 days 20:00:00', '0 days 21:20:00', '0 days 22:40:00',
                '1 days 00:00:00', '1 days 01:20:00', '1 days 02:40:00',
                '1 days 04:00:00', '1 days 05:20:00', '1 days 06:40:00',
                '1 days 08:00:00', '1 days 09:20:00', '1 days 10:40:00',
                '1 days 12:00:00', '1 days 13:20:00', '1 days 14:40:00'],
               dtype='timedelta64[ns]', freq='80T')

In [30]:
import pandas as pd
epoch_t = 1621132355
time_stamp = pd.to_datetime(epoch_t, unit='s')
# UTC (Coordinated Universal Time) is one of the well-known names of UTC+0 time zone which is 0h.
# By default, time series objects of pandas do not have an assigned time zone.
print("Regular time stamp in UTC:")
print(time_stamp)
print("\nConvert the said timestamp in to US/Pacific:")
print(time_stamp.tz_localize('UTC').tz_convert('US/Pacific'))
print("\nConvert the said timestamp in to Europe/Berlin:")
print(time_stamp.tz_localize('UTC').tz_convert('Europe/Berlin'))

Regular time stamp in UTC:
2021-05-16 02:32:35

Convert the said timestamp in to US/Pacific:
2021-05-15 19:32:35-07:00

Convert the said timestamp in to Europe/Berlin:
2021-05-16 04:32:35+02:00

In [31]:
import pandas as pd
print("Timezone: Europe/Berlin:")
print("Using pytz:")
date_pytz = pd.Timestamp('2019-01-01', tz = 'Europe/Berlin')
print(date_pytz.tz)  
print("Using dateutil:")
date_util = pd.Timestamp('2019-01-01', tz = 'dateutil/Europe/Berlin')
print(date_util.tz)
print("\nUS/Pacific:")
print("Using pytz:")
date_pytz = pd.Timestamp('2019-01-01', tz = 'US/Pacific')
print(date_pytz.tz)  
print("Using dateutil:")
date_util = pd.Timestamp('2019-01-01', tz = 'dateutil/US/Pacific')
print(date_util.tz)

Timezone: Europe/Berlin:
Using pytz:
Europe/Berlin
Using dateutil:
tzfile('Atlantic/Jan_Mayen')

US/Pacific:
Using pytz:
US/Pacific
Using dateutil:
tzfile('America/Los_Angeles')

In [32]:
import pandas as pd
date1 = pd.Timestamp('2019-01-01', tz='Europe/Berlin')
date2 = pd.Timestamp('2019-01-01', tz='US/Pacific')
date3 = pd.Timestamp('2019-01-01', tz='US/Eastern')
print("Time series data with time zone:")
print(date1)
print(date2)
print(date3)
print("\nTime series data without time zone:")
print(date1.tz_localize(None))
print(date2.tz_localize(None))
print(date3.tz_localize(None))

Time series data with time zone:
2019-01-01 00:00:00+01:00
2019-01-01 00:00:00-08:00
2019-01-01 00:00:00-05:00

Time series data without time zone:
2019-01-01 00:00:00
2019-01-01 00:00:00
2019-01-01 00:00:00

In [33]:
import pandas as pd
print("Subtract two timestamps of same time zone:")
date1 = pd.Timestamp('2019-03-01 12:00', tz='US/Eastern')
date2 = pd.Timestamp('2019-04-01 07:00', tz='US/Eastern')
print("Difference: ", (date2-date1))
print("\nSubtract two timestamps of different time zone:")
date1 = pd.Timestamp('2019-03-01 12:00', tz='US/Eastern')
date2 = pd.Timestamp('2019-03-01 07:00', tz='US/Pacific')
# Remove the time zone and do the subtraction
print("Difference: ", (date1.tz_localize(None) - date2.tz_localize(None)))

Subtract two timestamps of same time zone:
Difference:  30 days 18:00:00

Subtract two timestamps of different time zone:
Difference:  0 days 05:00:00

In [40]:
import pandas as pd
thursday=pd.date_range('2024-03-24','2024-08-22',freq='W-THU')
print(thursday.values)

['2024-03-28T00:00:00.000000000' '2024-04-04T00:00:00.000000000'
 '2024-04-11T00:00:00.000000000' '2024-04-18T00:00:00.000000000'
 '2024-04-25T00:00:00.000000000' '2024-05-02T00:00:00.000000000'
 '2024-05-09T00:00:00.000000000' '2024-05-16T00:00:00.000000000'
 '2024-05-23T00:00:00.000000000' '2024-05-30T00:00:00.000000000'
 '2024-06-06T00:00:00.000000000' '2024-06-13T00:00:00.000000000'
 '2024-06-20T00:00:00.000000000' '2024-06-27T00:00:00.000000000'
 '2024-07-04T00:00:00.000000000' '2024-07-11T00:00:00.000000000'
 '2024-07-18T00:00:00.000000000' '2024-07-25T00:00:00.000000000'
 '2024-08-01T00:00:00.000000000' '2024-08-08T00:00:00.000000000'
 '2024-08-15T00:00:00.000000000' '2024-08-22T00:00:00.000000000']

In [41]:
import pandas as pd
q_start_dates = pd.date_range('2020-01-01', '2020-12-31', freq='BQS-JUN')
q_end_dates = pd.date_range('2020-01-01', '2020-12-31', freq='BQ-JUN')
print("All the business quarterly begin dates of 2020:")
print(q_start_dates.values)
print("\nAll the business quarterly end dates of 2020:")
print(q_end_dates.values)

All the business quarterly begin dates of 2020:
['2020-03-02T00:00:00.000000000' '2020-06-01T00:00:00.000000000'
 '2020-09-01T00:00:00.000000000' '2020-12-01T00:00:00.000000000']

All the business quarterly end dates of 2020:
['2020-03-31T00:00:00.000000000' '2020-06-30T00:00:00.000000000'
 '2020-09-30T00:00:00.000000000' '2020-12-31T00:00:00.000000000']

In [43]:
import pandas as pd
r1=pd.date_range('2030-01-01',periods=10,freq='H')
print(r1)
r1=pd.date_range('2030-01-01',periods=10,freq='3H')
print(r1)

DatetimeIndex(['2030-01-01 00:00:00', '2030-01-01 01:00:00',
               '2030-01-01 02:00:00', '2030-01-01 03:00:00',
               '2030-01-01 04:00:00', '2030-01-01 05:00:00',
               '2030-01-01 06:00:00', '2030-01-01 07:00:00',
               '2030-01-01 08:00:00', '2030-01-01 09:00:00'],
              dtype='datetime64[ns]', freq='H')
DatetimeIndex(['2030-01-01 00:00:00', '2030-01-01 03:00:00',
               '2030-01-01 06:00:00', '2030-01-01 09:00:00',
               '2030-01-01 12:00:00', '2030-01-01 15:00:00',
               '2030-01-01 18:00:00', '2030-01-01 21:00:00',
               '2030-01-02 00:00:00', '2030-01-02 03:00:00'],
              dtype='datetime64[ns]', freq='3H')

In [44]:
import pandas as pd
dateset1 = pd.date_range('2029-01-01 00:00:00', periods=20, freq='3h10min')
print("Time series with frequency 3h10min:")
print(dateset1)
dateset2 = pd.date_range('2029-01-01 00:00:00', periods=20, freq='1D10min20U')
print("\nTime series with frequency 1 day 10 minutes and 20 microseconds:")
print(dateset2)

Time series with frequency 3h10min:
DatetimeIndex(['2029-01-01 00:00:00', '2029-01-01 03:10:00',
               '2029-01-01 06:20:00', '2029-01-01 09:30:00',
               '2029-01-01 12:40:00', '2029-01-01 15:50:00',
               '2029-01-01 19:00:00', '2029-01-01 22:10:00',
               '2029-01-02 01:20:00', '2029-01-02 04:30:00',
               '2029-01-02 07:40:00', '2029-01-02 10:50:00',
               '2029-01-02 14:00:00', '2029-01-02 17:10:00',
               '2029-01-02 20:20:00', '2029-01-02 23:30:00',
               '2029-01-03 02:40:00', '2029-01-03 05:50:00',
               '2029-01-03 09:00:00', '2029-01-03 12:10:00'],
              dtype='datetime64[ns]', freq='190T')

Time series with frequency 1 day 10 minutes and 20 microseconds:
DatetimeIndex([       '2029-01-01 00:00:00', '2029-01-02 00:10:00.000020',
               '2029-01-03 00:20:00.000040', '2029-01-04 00:30:00.000060',
               '2029-01-05 00:40:00.000080', '2029-01-06 00:50:00.000100',
               '2029-01-07 01:00:00.000120', '2029-01-08 01:10:00.000140',
               '2029-01-09 01:20:00.000160', '2029-01-10 01:30:00.000180',
               '2029-01-11 01:40:00.000200', '2029-01-12 01:50:00.000220',
               '2029-01-13 02:00:00.000240', '2029-01-14 02:10:00.000260',
               '2029-01-15 02:20:00.000280', '2029-01-16 02:30:00.000300',
               '2029-01-17 02:40:00.000320', '2029-01-18 02:50:00.000340',
               '2029-01-19 03:00:00.000360', '2029-01-20 03:10:00.000380'],
              dtype='datetime64[ns]', freq='87000000020U')

In [45]:
import pandas as pd
newday = pd.Timestamp('2020-02-07')
print("First date:")
print(newday)
print("\nThe day name of the said date:")
print(newday.day_name())
print("\nAdd 2 days with the said date:")
newday1 = newday + pd.Timedelta('2 day')
print(newday1.day_name())
print("\nNext business day:")
nbday = newday + pd.offsets.BDay()
print(nbday.day_name())

First date:
2020-02-07 00:00:00

The day name of the said date:
Friday

Add 2 days with the said date:
Sunday

Next business day:
Monday

In [46]:
import pandas as pd
dates1 = pd.to_datetime([1329806505, 129806505, 1249892905,
                1249979305, 1250065705], unit='s')
print("Convert integer or float epoch times to Timestamp and DatetimeIndex upto second:")
print(dates1)
print("\nConvert integer or float epoch times to Timestamp and DatetimeIndex upto milisecond:")
dates2 = pd.to_datetime([1249720105100, 1249720105200, 1249720105300,
                1249720105400, 1249720105500], unit='ms')
print(dates2)

Convert integer or float epoch times to Timestamp and DatetimeIndex upto second:
DatetimeIndex(['2012-02-21 06:41:45', '1974-02-11 09:21:45',
               '2009-08-10 08:28:25', '2009-08-11 08:28:25',
               '2009-08-12 08:28:25'],
              dtype='datetime64[ns]', freq=None)

Convert integer or float epoch times to Timestamp and DatetimeIndex upto milisecond:
DatetimeIndex(['2009-08-08 08:28:25.100000', '2009-08-08 08:28:25.200000',
               '2009-08-08 08:28:25.300000', '2009-08-08 08:28:25.400000',
               '2009-08-08 08:28:25.500000'],
              dtype='datetime64[ns]', freq=None)

In [47]:
import pandas as pd
from pandas.tseries.offsets import *
import datetime
from datetime import datetime, date
dt = datetime(2020, 1, 4)
print("Specified date:")
print(dt)
print("\nOne business day from the said date:")
obday = dt + BusinessDay()
print(obday)
print("\nTwo business days from the said date:")
tbday = dt + 2 * BusinessDay()
print(tbday)
print("\nThree business days from the said date:")
thbday = dt + 3 * BusinessDay()
print(thbday)
print("\nNext business month end from the said date:")
nbday = dt + BMonthEnd()
print(nbday)

Specified date:
2020-01-04 00:00:00

One business day from the said date:
2020-01-06 00:00:00

Two business days from the said date:
2020-01-07 00:00:00

Three business days from the said date:
2020-01-08 00:00:00

Next business month end from the said date:
2020-01-31 00:00:00

In [48]:
import pandas as pd
import datetime
from datetime import datetime, date
sdt = datetime(2020, 1, 1)
edt = datetime(2020, 12, 31)
dateset = pd.period_range(sdt, edt, freq='M')
print("All monthly boundaries of a given year:")
print(dateset) 
print("\nStart and end time for each period object in the said index:")
for d in dateset: 
    print ("{0} {1}".format(d.start_time, d.end_time))

All monthly boundaries of a given year:
PeriodIndex(['2020-01', '2020-02', '2020-03', '2020-04', '2020-05', '2020-06',
             '2020-07', '2020-08', '2020-09', '2020-10', '2020-11', '2020-12'],
            dtype='period[M]')

Start and end time for each period object in the said index:
2020-01-01 00:00:00 2020-01-31 23:59:59.999999999
2020-02-01 00:00:00 2020-02-29 23:59:59.999999999
2020-03-01 00:00:00 2020-03-31 23:59:59.999999999
2020-04-01 00:00:00 2020-04-30 23:59:59.999999999
2020-05-01 00:00:00 2020-05-31 23:59:59.999999999
2020-06-01 00:00:00 2020-06-30 23:59:59.999999999
2020-07-01 00:00:00 2020-07-31 23:59:59.999999999
2020-08-01 00:00:00 2020-08-31 23:59:59.999999999
2020-09-01 00:00:00 2020-09-30 23:59:59.999999999
2020-10-01 00:00:00 2020-10-31 23:59:59.999999999
2020-11-01 00:00:00 2020-11-30 23:59:59.999999999
2020-12-01 00:00:00 2020-12-31 23:59:59.999999999

In [49]:
import pandas as pd
import numpy as np
pi = pd.Series(np.random.randn(36), 
               pd.period_range('1/1/2029', 
                               '12/31/2031', freq='M'))
print("PeriodIndex which represents all the calendar month periods in 2029 and 2030:")
print(pi)
print("\nValues for all periods in 2030:")
print(pi['2030'])

PeriodIndex which represents all the calendar month periods in 2029 and 2030:
2029-01    1.648732
2029-02   -0.209700
2029-03   -1.230993
2029-04   -2.506124
2029-05   -1.514757
2029-06    1.075502
2029-07    0.529496
2029-08    0.629787
2029-09   -0.367771
2029-10    1.092706
2029-11    1.384742
2029-12    0.460994
2030-01    0.526314
2030-02    0.173837
2030-03    0.815547
2030-04    0.033361
2030-05   -1.767408
2030-06    0.371399
2030-07   -1.316014
2030-08    2.075851
2030-09   -0.395137
2030-10    0.994966
2030-11   -1.304638
2030-12   -0.145003
2031-01   -0.347890
2031-02   -0.235089
2031-03   -0.307804
2031-04   -1.165040
2031-05    0.225104
2031-06    0.405489
2031-07   -0.593502
2031-08    1.475624
2031-09    1.156758
2031-10    0.449282
2031-11    0.275408
2031-12   -0.334277
Freq: M, dtype: float64

Values for all periods in 2030:
2030-01    0.526314
2030-02    0.173837
2030-03    0.815547
2030-04    0.033361
2030-05   -1.767408
2030-06    0.371399
2030-07   -1.316014
2030-08    2.075851
2030-09   -0.395137
2030-10    0.994966
2030-11   -1.304638
2030-12   -0.145003
Freq: M, dtype: float64

In [56]:
# import pandas as pd
# from pandas.tseries.holiday import *
# sdt = datetime(2021, 1, 1)
# edt = datetime(2030, 12, 31)
# print("Holidays between 2021-01-01 and 2030-12-31 using the US federal holiday calendar.")
# cal = USFederalHolidayCalendar()
# for dt in cal.holidays(start=sdt, end=edt): 
#     print (dt)

In [58]:
import pandas as pd
mtp=pd.Period('2000-08','M')
print(mtp)
print(dir(mtp))

2000-08
['__add__', '__array_priority__', '__class__', '__delattr__', '__dict__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getstate__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__le__', '__lt__', '__module__', '__ne__', '__new__', '__radd__', '__reduce__', '__reduce_ex__', '__repr__', '__rsub__', '__setattr__', '__setstate__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__weakref__', '_add_offset', '_add_timedeltalike_scalar', '_dtype', '_from_ordinal', '_maybe_convert_freq', '_require_matching_freq', 'asfreq', 'day', 'day_of_week', 'day_of_year', 'dayofweek', 'dayofyear', 'days_in_month', 'daysinmonth', 'end_time', 'freq', 'freqstr', 'hour', 'is_leap_year', 'minute', 'month', 'now', 'ordinal', 'quarter', 'qyear', 'second', 'start_time', 'strftime', 'to_timestamp', 'week', 'weekday', 'weekofyear', 'year']

In [59]:
import pandas as pd
ytp = pd.Period('2020','A-DEC')
print("Yearly time perid:",ytp)
print("\nAll the properties of the said period:")
print(dir(ytp))

Yearly time perid: 2020

All the properties of the said period:
['__add__', '__array_priority__', '__class__', '__delattr__', '__dict__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getstate__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__le__', '__lt__', '__module__', '__ne__', '__new__', '__radd__', '__reduce__', '__reduce_ex__', '__repr__', '__rsub__', '__setattr__', '__setstate__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__weakref__', '_add_offset', '_add_timedeltalike_scalar', '_dtype', '_from_ordinal', '_maybe_convert_freq', '_require_matching_freq', 'asfreq', 'day', 'day_of_week', 'day_of_year', 'dayofweek', 'dayofyear', 'days_in_month', 'daysinmonth', 'end_time', 'freq', 'freqstr', 'hour', 'is_leap_year', 'minute', 'month', 'now', 'ordinal', 'quarter', 'qyear', 'second', 'start_time', 'strftime', 'to_timestamp', 'week', 'weekday', 'weekofyear', 'year']