## Feature Encoding.
. Label Encoder.

. One Hot Encoder

In [60]:
import pandas as pd
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score,confusion_matrix,f1_score,classification_report,recall_score,precision_score
from sklearn.preprocessing import StandardScaler,LabelEncoder,OneHotEncoder
from sklearn.model_selection import train_test_split

## Feature Encoding Label Encoder.

In [63]:
df=pd.read_csv("G:/dataset/classification/online_shop.csv")
df.head(5)

   Gender  Age  EstimatedSalary  Purchased
0    Male   19            19000          0
1    Male   35            20000          0
2  Female   26            43000          0
3  Female   27            57000          0
4    Male   19            76000          0

In [65]:
# Using Pandas
df=pd.read_csv("G:/dataset/classification/online_shop.csv")
df.head(5)
df.Gender=df.Gender.map({'Male':1,'Female':0})
df.head(5)

   Gender  Age  EstimatedSalary  Purchased
0       1   19            19000          0
1       1   35            20000          0
2       0   26            43000          0
3       0   27            57000          0
4       1   19            76000          0

In [67]:
# Using Sklearn Label encoder.
df=pd.read_csv("G:/dataset/classification/online_shop.csv")
en=LabelEncoder()
df.Gender=en.fit_transform(df.Gender)
df.head(5)

   Gender  Age  EstimatedSalary  Purchased
0       1   19            19000          0
1       1   35            20000          0
2       0   26            43000          0
3       0   27            57000          0
4       1   19            76000          0

## Feature Encoding One Hot Encoding.

In [70]:
# Using Pandas.
df=pd.read_csv("G:/dataset/classification/online_shop.csv")
df1=(pd.get_dummies(df.Gender))
X=pd.concat([df,df1],axis=1)
X.drop(columns=["Gender"],inplace=True)
X

     Age  EstimatedSalary  Purchased  Female   Male
0     19            19000          0   False   True
1     35            20000          0   False   True
2     26            43000          0    True  False
3     27            57000          0    True  False
4     19            76000          0   False   True
..   ...              ...        ...     ...    ...
395   46            41000          1    True  False
396   51            23000          1   False   True
397   50            20000          1    True  False
398   36            33000          0   False   True
399   49            36000          1    True  False

[400 rows x 5 columns]

In [72]:
# Using Sklearn.
df=pd.read_csv("G:/dataset/classification/online_shop.csv")
y=list(df.Purchased)
df.drop(columns=['Purchased'],inplace=True)
en=OneHotEncoder(sparse_output=False)
x=en.fit_transform(df[['Gender']])
df1=pd.DataFrame(x,columns=['Female','Male'])
df2=pd.concat([df,df1],axis=1)
df2.drop(columns='Gender',inplace=True)

In [74]:
X=df2.iloc[:,:].values
model=KNeighborsClassifier()
model.fit(X,y)
accuracy_score(y,model.predict(X))

0.8725

In [76]:
pred_train=model.predict(X)
confusion_matrix(y,pred_train)

array([[242,  15],
       [ 36, 107]], dtype=int64)

In [90]:
precision_score_0=242/(242+36)
print(precision_score_0)
precision_score_1=107/(107+15)
print(precision_score_1)
print(precision_score(y,pred_train,average=None))

0.8705035971223022
0.8770491803278688
[0.8705036  0.87704918]

In [80]:
recall_score_0=242/(242+15)
print(recall_score_0)
recall_score_1=107/(107+36)
print(recall_score_1)
print(recall_score(y,pred_train,average=None))

0.9416342412451362
0.7482517482517482
[0.94163424 0.74825175]

In [82]:
f1_score_0=(2*recall_score_0*precision_score_0)/(recall_score_0+precision_score_0)
f1_score_1=(2*recall_score_1*precision_score_1)/(recall_score_1+precision_score_1)
print(f1_score_0)
print(f1_score_1)
print(f1_score(y,pred_train,average=None))

0.9046728971962615
0.8075471698113208
[0.9046729  0.80754717]

In [84]:
acc_score=(242+107)/(242+107+36+15)
print(acc_score)
print(accuracy_score(y,pred_train))

0.8725
0.8725

In [88]:
print(classification_report(y,pred_train))

              precision    recall  f1-score   support

           0       0.87      0.94      0.90       257
           1       0.88      0.75      0.81       143

    accuracy                           0.87       400
   macro avg       0.87      0.84      0.86       400
weighted avg       0.87      0.87      0.87       400