In [1]:
import pandas as pd
from sqlalchemy import create_engine
engine = create_engine('mysql+pymysql://root:root@localhost:3306/db')  
query = "SELECT * FROM orders;"
df = pd.read_sql_query(query, engine)
engine.dispose()
print(df.head())

   ord_no  purch_amt    ord_date  customer_id  salesman_id
0   70001     150.50  2012-10-05         3005         5002
1   70009     270.65  2012-09-10         3001         5005
2   70002      65.26  2012-10-05         3002         5001
3   70004     110.50  2012-08-17         3009         5003
4   70007     948.50  2012-09-10         3005         5002